.container{
    width: 100vw;
    height: 90vh;
    /* background-color: rgba(218, 165, 32, 0.28); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 50%;
    min-height: 40%;
    background-color: #edfafd9c;
    border-radius: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}