@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
.App{
    margin: 0em;
    padding: 0em;
}

*{
    margin: 0em;
    padding: 0em;
    font-family: 'Concert One', cursive;
}